@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --body-color: #e4e9f7;
  --sidbar-color: #fff;
  --primari-coloe: #09006c;
  --primari-coloe-light: #f6f5ff;
  --toggl-coloe: #ddd;
  --text-color: #707070;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}
body.dark {
  --body-color: #18191a;
  --sidbar-color: #242526;
  --primari-coloe: #3a3b3c;
  --primari-coloe-light: #3a3b3c;
  --toggl-coloe: #fff;
  --text-color: #ccc;
}

/* ===========Resubale CSS================ */
.sidebar .text {
  font-size: 17px;
  font-weight: 600;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .menu{
   margin-top: 35px; 
}
/* ==============sidebare================== */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidbar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}
.sidebar li {
  height: 50px;
  background-color: var(--sidbar-color);
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}
.sidebar .header {
  position: relative;
}
.sidebar .img-text img {
  width: 44px;
  border-radius: 6px;
}
.sidebar .img-text {
  display: flex;
  align-items: center;
}
.sidebar .img-text .header-text {
  display: flex;
  flex-direction: column;
}
.sidebar .header-text .name {
  font-weight: 600;
}
.sidebar .header-text .profecion {
  margin-top: -2px;
}
.sidebar .toggle {
  position: absolute;
  top: 7%;
  /* right: 75px; */
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-color: var(--primari-coloe);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidbar-color);
  font-weight: bold;
  transform: translateY(-50%) rotate(180deg);
  transition: var(--tran-03);
}
.sidebar.close .toggle {
    transform: translateY(-50%) rotate(360deg);
}
body.dark .sidebar .toggle {
    color: #ffffff;
}
.sidebar .search-box {
  background-color: var(--primari-coloe-light);
  border-radius: 6px;
transition: var(--tran-05);
}
.sidebar .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--primari-coloe-light);
  font-size: 16px;
  font-weight: 600;
}
.sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  transition: var(--tran-04);
}
.sidebar li a:hover {
  background-color: var(--primari-coloe);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidbar-color);
}
body.dark.sidebar li a:hover .icon,
body.dark.sidebar li a:hover .text {
  color:var(--text-color);
}
.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primari-coloe-light);
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode svg {
  position: absolute;
}
.menu-bar .mode svg.sun {
  opacity: 0;
}
body.dark .menu-bar .mode svg.sun{
    opacity: 1;
}
body.dark .menu-bar .mode svg.moon{
opacity: 0;
}
.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
  min-height: 60px;
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 24px;
  background-color: var(--toggl-coloe);
  cursor: pointer;
  left:9px;
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  background: var(--sidbar-color);
  transition: var(--tran-03);
}
body.dark .switch::before {
  left: 24px;
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background-color: var(--body-color);
transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close .home{
    left: 88px;
    width: calc(100% - 88px);
}
